<ion-app>
  <ion-header [translucent]="true">
    <!--IMPORTANT: refer to elements used in the app.module.ts -->
    <app-header></app-header>
  </ion-header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <ion-content class="ion-padding">
    <!--The "popover" menu -->
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Your chats</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let chat of state.allchatRooms"
                    (click)="openChat(chat)">
            <ion-avatar aria-hidden="true" slot="start">
              <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
            </ion-avatar>
            <ion-label>{{ chat.valueOf() }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="flex-container">

      <div style="flex-grow: 1">
        <ion-menu-toggle id="main-content">
          <ion-button>
            <ion-icon name="menu"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </div>

      <div style="flex-grow: 8">
        <router-outlet></router-outlet>
      </div>

    </div>

  </ion-content>
  <ion-footer class="background">
    <p>
      Chat Roomies inc.
    </p>
  </ion-footer>
</ion-app>
