

<ion-grid class="chatbox" style="width: 70%">
  <ion-row>
    <ion-col style="text-align: center">
      <h1 class="chatTitle">{{chatroomName}}</h1>
      <div class="chat">
        <ion-list *ngFor="let chatMessage of chatMessages">
          <ion-item>
            {{ chatMessage }}
          </ion-item>
        </ion-list>
      </div>
      <div>
        <ion-textarea [formControl]="messageContent" label="Chat here" placeholder="Chat"></ion-textarea>
        <ion-button (click)="sendInChat()">SendInChat</ion-button>
        <div>
          <ion-button (click)="SignIn()">Sign In as:</ion-button>
          <ion-input [formControl]="userName"></ion-input>
        </div>
      </div>
      <div>
        <p> There are now: {{ peopleInChat }} online
        </p>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
